/*通用样式*/
*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    /*background: #ff0000;*/
}
#header .triangle::after{
    content: " ";
    border-width: 3px;
    border-style: solid;
    border-top-color: #999;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    position: absolute;
    right: 2px;
    top: 50%;
    /*margin-top: 1px;*/
}
